{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Project Index</title>
	<!-- Vendors Style-->
	<link rel="stylesheet" href="/static/design/test/css/vendors_css.css">
	  
	<!-- Style-->    
	<link rel="stylesheet" href="/static/design/test/css/horizontal-menu.css"> 
	<link rel="stylesheet" href="/static/design/test/css/style.css">
	<link rel="stylesheet" href="/static/design/test/css/skin_color.css">
    
 <style>
.table th { background:#389f99 !important; color:#FFFFFF; }    
</style>     
    
   
<script>
jQuery(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
 if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
   
});
  $(function() {
    $.ajax({
      url: '/ajaxcall_countrycode',
      type: 'POST',
      headers:{'x-CSRFToken':'{{ csrf_token }}'},
      //contentType: 'application/json',
      dataType: "json",
      success: function(data1) {
        if (data1) {         
         $.map(data1.countryvode, function(item) {  
            $('#countrycode').append("<option value=\"" + item[0] + "\">" + item[2]+ "</option>");
         });
        }
      }
    });

    $("#countrycode").change(function () {
        var cid = this.value
        var hsncode = $("#chaptername").val()
        console.log(hsncode);   
       selchangecountry(cid, hsncode)
    });
    $("#hsncode").keyup(function () {
        var hsnid = this.value
        var countrycode = $("#countrycode").val()
       //alert(endid);   
       selchange(countrycode, hsnid)
    });
    //$('#chapterlength'). $("#chapterlength").change(function () {
    $("#chaptername").change(function () {
      $('#chapterlength').empty();
      var cid = $("#countrycode").val();
        var hsncode = $("#chaptername").val()
       // alert(endid);   
       selchangecountry(cid, hsncode)
      $('#chapterlength').append("<option value=''>Select chapter length</option>");
        var cid = this.value
        $.ajax({
          url: '/hsncode_chapter_master_count',
          type: 'POST',
          headers:{'x-CSRFToken':'{{ csrf_token }}'},
          data: 
          {
            'cnid' :JSON.stringify(cid)
          },
          dataType: "json",
          success: function(data1) {
            if (data1) {         
            $.map(data1.hsn_code, function(item) {  
                $('#chapterlength').append("<option value=\"" + item + "\">" + item+ "</option>");
            });
            }
          }
        });
       // var hsncode = $("#hsncode").val()
       // alert(cid);   
      // selchange(cid, hsncode)
    });
  $("#chapterlength").change(function () {
    alert("xcxccvx");
  });
});
function selchange(id, hsnid){
  //alert(id);
  $('#divappenddata').empty(); 
  var autoid = id; 
  var hsncode = hsnid; 
  $.ajax({
      url: '/ajaxcall_append_selectcountrycode',
      type: 'POST',
      headers:{'x-CSRFToken':'{{ csrf_token }}'},
      //contentType: 'application/json',
      dataType: "json",
      data: 
      {
       'autoid' :JSON.stringify(autoid),
       'hsncode' :JSON.stringify(hsncode)
      },
      success: function(data1) {
      // console.log(arr[0]);      
      //for(var i=0; i<1; i++){
        //console.log(arr)
      //}
       if (data1) {         
         $.map(data1.hsn_code, function(item) {           //console.log(item[0]);      
           var html = '<tr>';
           //html += '<td>'+item[0]+'</td>';
           //html += '<td>'+item[1]+'</td>';
           html += '<td><a xhref="/single_trs" style="color:blue !important" onClick="call_sing('+item[0]+')"  id='+item[0]+'>'+item[2]+'</a></td>';
           html += '<td>'+item[3]+'</td>';
           html += '<td>'+item[4]+'</td>';
           html += '<td style="width:50px !important;">'+item[5]+'</td>';
           html += '<td style="width:50px !important;">'+item[6]+'</td>';
           html += '<td>';
            var years="";
            var flg =0; 
            if(item[4]!=""){            
            for(var j=7;j<=17;j++){
              if((flg==0)){               
                if(j<10)
                {
                  var raa = "0"
                }
                else{
                  var raa = "";
                }
                var years = "20"+raa+[j]+": <b>"+item[j]+"</b><br>";
                html += years;
                if((item[j]==0)){
                  flg=1;
                }
               
              }
             
            }   

            var hsncodes = parseFloat($("#hsncode").val());  
           
          //  $('#pdtsel_code').append("<option value=\"" + item[0] + "\">" + item[2]+"-"+ item[3] + "</option>");
           }
           html += '</td>';
           html += '<td>';
            //if(item[3]!=""){ 
          
       // }


       html +=  item[18];


            //html +=arr;
            html += '</td>'; 
            
           //html += '<td style="width:100px !important;height:100px;"><div style="height: 100px !important;" id="chartdiv"></div></td>';
           html += '</tr>';
           
          $('#divappenddata').append(html);
        });
         

       } 
      }
    });
}
function selchangecountry(id, hsnid){
  //alert(id);
  $('#divappenddata').empty(); 
  var autoid = id; 
  var hsncode = hsnid; 
  $.ajax({
      url: '/ajaxcall_append_selectcountrycodesing',
      type: 'POST',
      headers:{'x-CSRFToken':'{{ csrf_token }}'},
      //contentType: 'application/json',
      dataType: "json",
      data: 
      {
       'autoid' :JSON.stringify(autoid),
       'hsncode' :JSON.stringify(hsncode)
      },
      success: function(data1) {
      // console.log(arr[0]);      
      //for(var i=0; i<1; i++){
        //console.log(arr)
      //}
       if (data1) {         
         $.map(data1.hsn_code, function(item) {           //console.log(item[0]);      
           var html = '<tr>';
           //html += '<td>'+item[0]+'</td>';
           //html += '<td>'+item[1]+'</td>';
           if(item[2]<=9){
             var it = "0"+item[2];
           }
           else{
            var it = item[2];
           }
           html += '<td>'+item[1]+'</td>';
           html += '<td>'+it+'</td>';
           html += '<td>'+'</td>';
           html += '<td style="width:50px !important;">'+item[3]+'</td>';
           html += '<td style="width:50px !important;">-</td>';
          
           html += '<td>';
            
           html += '</td>';
           html += '<td>';
            //if(item[3]!=""){ 
          
       // }


       


            //html +=arr;
            html += '</td>'; 
            
           //html += '<td style="width:100px !important;height:100px;"><div style="height: 100px !important;" id="chartdiv"></div></td>';
           html += '</tr>';
           
          $('#divappenddata').append(html);
        });
         

       } 
      }
    });
}
</script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    //var country = ["Australia", "Bangladesh", "Denmark", "Hong Kong", "Indonesia", "Netherlands", "New Zealand", "South Africa"];
    $(".select2").select2({
    //  data: country
    });
  });
</script>
 
  </head>

<body class="layout-top-nav light-skin theme-fruit fixed">
	
<div class="wrapper">
	<div id="loader"></div>
  <div class="art-bg">
	  <img src="{% static 'images/art1.svg' %}" alt="" class="art-img light-img">
	  <img src="{% static 'images/art3.svg' %}" alt="" class="art-img dark-img">
  </div>
	
  <header class="main-header">
	  <div class="inside-header">
		<div class="d-flex align-items-center logo-box justify-content-start">
			<!-- Logo -->
			<a href="index.html" class="logo">
			  <!-- logo-->
			  <div class="logo-lg">
				  <span class="light-logo" style="color:#FFFFFF;"><img src="{% static 'images/midi.png' %}"> MINISTRY OF INTERNATIONAL TRADE AND INDUSTRY</span>
			  </div>
			</a>	
		</div>  
		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top">
		  <!-- Sidebar toggle button-->
		  <div class="app-menu">
			<ul class="header-megamenu nav">				  
				<li class="btn-group d-lg-inline-flex d-none">
					<div class="app-menu">
						<div class="search-bx mx-5">
							<form>
								<div class="input-group">
								  <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
								  <div class="input-group-append">
									<button class="btn" type="submit" id="button-addon3"><i data-feather="search"></i></button>
								  </div>
								</div>
							</form>
						</div>
					</div>
				</li>
			</ul> 
		  </div>

		  <div class="navbar-custom-menu r-side">
			<ul class="nav navbar-nav">		 
				<li class="btn-group nav-item d-lg-inline-flex d-none">
					<a href="#" data-provide="fullscreen" class="waves-effect waves-light nav-link btn-outline no-border full-screen btn-warning-light text-white" title="Full Screen">
						<i data-feather="maximize"></i>
					</a>
				</li>
			  <!-- Notifications -->
			  <li class="dropdown notifications-menu">
				<a href="#" class="waves-effect waves-light dropdown-toggle btn-outline no-border btn-info-light text-white" data-bs-toggle="dropdown" title="Notifications">
				  <i data-feather="bell"></i>
				</a>
				<ul class="dropdown-menu animated bounceIn">

				  <li class="header">
					<div class="p-20">
						<div class="flexbox">
							<div>
								<h4 class="mb-0 mt-0">Notifications</h4>
							</div>
							<div>
								<a href="#" class="text-danger">Clear All</a>
							</div>
						</div>
					</div>
				  </li>

				  <li>
					<!-- inner menu: contains the actual data -->
					<ul class="menu sm-scrol">
					  <li>
						<a href="#">
						  <i class="fa fa-users text-info"></i> Curabitur id eros quis nunc suscipit blandit.
						</a>
					  </li>
					  <li>
						<a href="#">
						  <i class="fa fa-user text-success"></i> Nullam euismod dolor ut quam interdum, at scelerisque ipsum imperdiet.
						</a>
					  </li>
					</ul>
				  </li>
				  <li class="footer">
					  <a href="#">View all</a>
				  </li>
				</ul>
			  </li>	

			  <!-- User Account-->
			  <li class="dropdown user user-menu">
				<a href="#" class="waves-effect waves-light dropdown-toggle no-border p-5" data-bs-toggle="dropdown" title="User">
					<img class="avatar avatar-pill" src="{% static 'images/midi.png' %}" alt="">
				</a>
				<ul class="dropdown-menu animated flipInX">
				  <li class="user-body">
					 <a class="dropdown-item" href="#"><i class="ti-user text-muted me-2"></i> Profile</a>
					 <a class="dropdown-item" href="#"><i class="ti-wallet text-muted me-2"></i> My Wallet</a>
					 <a class="dropdown-item" href="#"><i class="ti-settings text-muted me-2"></i> Settings</a>
					 <div class="dropdown-divider"></div>
					 <a class="dropdown-item" href="#"><i class="ti-lock text-muted me-2"></i> Logout</a>
				  </li>
				</ul>
			  </li>			  

			</ul>
		  </div>
		</nav>
	  </div>
  </header>
  <nav class="main-nav" role="navigation">

	  <!-- Mobile menu toggle button (hamburger/x icon) -->
	  <input id="main-menu-state" type="checkbox" />
	  <label class="main-menu-btn" for="main-menu-state">
		<span class="main-menu-btn-icon"></span> Toggle main menu visibility
	  </label>
	  <!-- Sample menu definition -->
	  <ul id="main-menu" class="sm sm-blue">
		<li class="active"><a href="/dashboard"><i data-feather="monitor"></i>CORE</a>
			<ul> 
				<li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Dashboard</a></li>
			</ul>
		</li>
		<li><a href="#"><i data-feather="grid"></i>DUTY ANALYSIS</a>
			<ul> 
				<li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Duty Report</a></li>
			</ul>
		</li>		
		<li><a href="#"><i data-feather="edit"></i>MASTERS</a>
		  <ul>
			<li><a href="/countrycode"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Country Code</a></li>
            <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Chapter</a></li>
            <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>TRS</a></li>
			<li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>PRS</a></li>
		  </ul>
		</li> 
	  </ul>
	</nav>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h3 class="page-title">HSN Code</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item" aria-current="page">Dashboard</li>
								<li class="breadcrumb-item active" aria-current="page">HSN</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">
			<div class="row">			  
				<div class="col-lg-12 col-12">
					  <div class="box">						<!-- /.box-header -->
						<form class="form">
							<div class="box-body">
								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  <label class="form-label">Select Country</label>
									  <select class="form-control" id="countrycode">
                                        <option>Select Country Code</option>                   
                                      </select>
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									  <label class="form-label">Select chapter</label>
									  <select class="form-control select2" id="chaptername">
                                        <option value="">Select</option> 
                                        {% for sequence in contexts %}
                                        <option value="{{sequence.code}}">{{sequence.chap_name}}</option>
                                        {% endfor %}
                                      </select>
									</div>
								  </div>
								</div>
								<div class="row">
								  <div class="col-md-4">
									<div class="form-group">
									  <label class="form-label">Select Length</label>
									  <select class="form-control" id="chapterlength">
                                        <option value="">Select chapter length</option> 
                                      </select>
									</div>
								  </div>
								  <div class="col-md-4">
									<div class="form-group">
									  <label class="form-label">Select the HSN code</label>
									  <input class="form-control autocomplete" id="hsncode" placeholder="Select HSN Code" /> 
									</div>
								  </div>
								  <div class="col-md-4">
									<div class="form-group">
									  <label class="form-label">Select Product code</label>
									  <select class="form-control" id="pdtsel_code">
                                      <option>Select Product Code</option>
                                    </select>
									</div>
								  </div>
								  
								</div>
								
							</div>
							
						</form>
					  </div>
					  <!-- /.box -->			
				</div>  

				<div class="table-responsive" style="margin-top:30px;">
                  <iframe id="txtArea1" style="display:none"></iframe>
                  <button id="btnExport" onClick="fnExcelReport();"> <img style="width:50px;" src="{% static 'images/excel.png' %}" /> </button>
                 <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th style="width:50px !important">
                        CHAPTER
                      </th>
                      <th style="width:50px !important">                       
                        HSN CODE
                      </th>
                      <th style="width:50px !important">
                        PDT CODE
                      </th>
                      <th style="width:200px !important">
                        Description
                      </th>
                      <th style="width:50px !important">
                        Unit
                      </th>
                     
                      <th style="width:100px !important;">
                        TAX
                      </th>
                      <th style="width:100px !important;">
                        PSR Specification
                      </th>
                    </tr>           
                  </thead>
                  <tbody id="divappenddata">
                    
                  </tbody>
                  
                </table> 
                </div>
                
		    </div>
			
		  <!-- /.row -->

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
	  &copy; 2021. All Rights Reserved.
  </footer>
  
</div>
	
	<!-- Vendor JS -->
	<script src="/static/design/test/js/vendors.min.js"></script>
	<script src="/static/design/test/js/pages/chat-popup.js"></script>
    <script src="/static/design/assets/icons/feather-icons/feather.min.js"></script>	
	
    <!--<script src="/static/design/assets/vendor_components/echarts/dist/echarts-en.min.js"></script>
	<script src="/static/design/assets/vendor_components/chartist-js-develop/chartist.js"></script>
    <script src="/static/design/assets/vendor_components/datatable/datatables.min.js"></script>
	<script src="/static/design/assets/vendor_components/apexcharts-bundle/irregular-data-series.js"></script>
	<script src="/static/design/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>-->
	
	<!-- CrmX Admin App -->
	<script src="/static/design/test/js/jquery.smartmenus.js"></script>
	<script src="/static/design/test/js/menus.js"></script>
	<script src="/static/design/test/js/template.js"></script>
	<script src="/static/design/test/js/demo.js"></script>
	<script src="/static/design/test/js/pages/dashboard2.js"></script>
	<!--<script src="js/jquery-3.3.1.js.download"></script>-->
</body>

</html>